.container { overflow: hidden; }
.item { width: 465px; float: left; margin-top: 10px; margin-left: 5px; }
.item label { width: 85px; display: inline-block; float: left; position: relative; top: 5px; }